body {
	font-size: 150%;
	top: 0;
	/*background-image: url("/public/grey_wash_wall_@2X.png");*/
	/*background-repeat: repeat-y;*/
}

img {
	vertical-align: middle;
}

#top {
	margin-bottom: 1em;
	/*margin-left: 1em;*/
	/*position: static;*/
	/*border: 1px solid gray;*/
}

.fixed {
	position: fixed;
	top: 0;
}

#tripBodyTop {
	margin-top: 1.25em;
	margin-bottom: 1em;
}

#tripSide {
	/*border: 1px solid gray;*/
	padding-right: 2em;
}


#tripBody {
	/*border: 1px solid gray;*/
	/*position: relative;*/
	position: absolute;
}

#tripBodyTop {
	position: fixed;
}

#tripMap, #tripBody {
	/*margin-top: 1em;*/
	/*width: 100%;*/
	height: 100%;
	/*position: relative;*/

}

#tripMap {
	/*position: fixed;*/
}

#tripMap > * {
	position: relative;
}

.tripDay {
	margin-bottom: 1em;
}

.tripModule {
	border: 0px solid gray;

	margin-bottom: 2em;
	margin-left: 0.5em;
	display: block;
	width: 95%;

	background-color: white;

	-webkit-box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75);
}

.tripModuleImg {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	/*width: 80%;*/
	height: auto;
}

#modalButtons > button {
	width: 120%;
}
