body {
	font-size: 150%;
	top: 0;
	position: relative;
	/*background-image: url("/public/grey_wash_wall_@2X.png");*/
	/*background-repeat: repeat-y;*/
}

img {
	vertical-align: middle;
}

#heading {
	padding-top: 1em;
}

#top {
	margin-bottom: 1em;
	/*margin-left: 1em;*/
	/*position: static;*/
	/*border: 1px solid gray;*/
}

.fixed {
	position: fixed;
	top: 0;
}

#tripBodyTop {
	margin-top: 1.25em;
	margin-bottom: 1em;
}

#tripSide {
	/*border: 1px solid gray;*/
	padding-right: 2em;
	height: 5000%;

	/*background-image: url("/public/img/ticks_@2X.png");*/
	background-repeat: repeat-x repeat-y;

}


#tripBody {
	/*border: 1px solid gray;*/
	/*position: relative;*/
	position: absolute;
}

#tripBodyTop {
	position: fixed;
}

#tripMap, #tripBody {

	height: 100%;

}

#tripMap {
	/*margin-top: 3em;*/
	/*position: fixed;*/
	/*position: relative;*/
		/*position: absolute;*/

}

.tripDay {
	margin-bottom: 1em;
}

.tripModule {
	border: 0px solid gray;

	margin-bottom: 2em;
	margin-left: 0.5em;
	display: block;
	width: 95%;

	background-color: white;

	-webkit-box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75);
}

.tripDayTitle {
	font-weight: bold;
	font-size: 1.25em;
	width: 100%;
	display: inline-block;
	height: 2em;
	vertical-align: center;
}

.tripModuleImg {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 100%;
	height: auto;
}

.tripModuleClickImg {
	padding-right: 0.5em;
	width: 80%;
	vertical-align: center;
}

.tripModuleBadges {
	margin-bottom: .75em;
}

.tripModuleInfo {
	padding-left: 2em;
}

#modalButtons > button {
	width: 100%;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
	cursor: default;
	background-color: white;

}

/*
 * SCROLALA
 */

 #scrollbox3 {
    overflow: auto;
    width: 400px;
    height: 360px;
    padding: 0 5px;
    border: 1px solid #b7b7b7;
}

.track3 {
    width: 10px;
    background: rgba(0, 0, 0, 0);
    margin-right: 2px;
    border-radius: 10px;
    -webkit-transition: background 250ms linear;
    transition: background 250ms linear;
}

.track3:hover,
.track3.dragging {
    background: #d9d9d9; /* Browsers without rgba support */
    background: rgba(0, 0, 0, 0.15);
}

.handle3 {
    width: 7px;
    right: 0;
    background: #999;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 7px;
    -webkit-transition: width 250ms;
    transition: width 250ms;
}

.track3:hover .handle3,
.track3.dragging .handle3 {
    width: 10px;
}